extends layout

block content
    .single-page-content
    .content-area(style="max-width: 1032px; margin: 0 auto;")
        .page-content
            // Blog Entry Content
            .blog-post-main-image
                img.post-image.img-responsive(src= imgUrl, alt= title)
            .blog-post-content
                h1= title
                .entry-meta
                    span.date
                        a(href='#')= date
                            i.fa.fa-fw.fa-clock-o
                    span.divider |
                    span.autor
                        a(href='#')= author
                            i.fa.fa-fw.fa-user
                    span.divider |
                    span.category
                        a(href='#')= category
                            i.fa.fa-fw.fa-folder
                div
                    != body
                .entry-meta.entry-tags-share
                    // Share Buttons
                    .btn-group.share-buttons.pull-right.hidden-xs
                        a.btn(href='#', target='_blank')
                            i.fa.fa-facebook
                        a.btn(href='#', target='_blank')
                            i.fa.fa-twitter
                        a.btn(href='#', target='_blank')
                            i.fa.fa-dribbble
                    // /Share Buttons
                    ul.tags
                        each tag in tags
                            li
                                a(href='#')= tag
                .post-comments
                    .block-title
                        h3 Comments (3)
                    .media
                        a.pull-left(href='#')
                            img.media-object(src='/static/img/blog/comments/comment_photo_1.jpg', alt='')
                        .media-body
                            .media-heading
                                a(href='#') John Doe
                                span.divider |
                                span.light-gray 1 hour ago
                            p
                                | Nam pellentesque laoreet augue sed facilisis. Suspendisse nec sollicitudin mauris. Integer fringilla a odio sit amet fermentum. Nunc nibh mauris, pretium eu risus et, finibus facilisis lorem.
                            .media-footer
                                a(href='#')
                                    i.fa.fa-reply
                                    |  Reply
                            .media
                                a.pull-left(href='#')
                                    img.media-object(src='/static/img/blog/comments/comment_photo_2.jpg', alt='')
                                .media-body
                                    .media-heading
                                        a(href='#') Bryan Morris
                                        span.divider |
                                        span.light-gray 5 hours ago
                                    p
                                        | Donec fermentum elementum massa nec imperdiet. Quisque iaculis accumsan elit eget porttitor.
                                    .media-footer
                                        a(href='#')
                                            i.fa.fa-reply
                                            |  Reply
                            .media
                                a.pull-left(href='#')
                                    img.media-object(src='/static/img/blog/comments/comment_photo_1.jpg', alt='')
                                .media-body
                                    .media-heading
                                        a(href='#') John Doe
                                        span.divider |
                                        span.light-gray 12 hours ago
                                    p
                                        | Nulla tincidunt augue lacinia purus scelerisque fringilla. Donec venenatis volutpat lacus, ac efficitur ligula imperdiet id. Nunc gravida ullamcorper metus, ut gravida velit condimentum vel.
                                    .media-footer
                                        a(href='#')
                                            i.fa.fa-reply
                                            |  Reply
                .post-comment-add
                    .block-title
                        h3 Оставьте комментарий
                    form.form-add-comment
                        .form-group.form-group-with-icon
                            i.fa.fa-user
                            label Ваше имя
                            input.form-control(placeholder='', name='name')
                            .form-control-border
                        .form-group.form-group-with-icon
                            i.fa.fa-comment
                            label Сообщение
                            textarea.form-control(placeholder='', name='message')
                            .form-control-border
                        button.button(type='submit') Добавить
            // End of Blog Entry Content
